<% title = "Main page"; %>

<nav class="menu">
    <ul>
        <li><a href="http://192.168.0.60:32400/">Plex</a></li>
        <li><a href="http://192.168.0.60:8080/" rel="noopener noreferrer">qBittorrent</a></li>
        <li><a href="/free-space">Free space</a></li>        
        <br>
        <hr>
        <br>
        <li><a href="/restart-plex">Restart PLEX Server</a></li>
        <li><a href="/restart-qbittorrent">Restart qBittorrent</a></li>
        <li><a href="/sleep">Sleep computer</a></li>
        <li><a href="/restart">Restart computer</a></li>
    </ul>
</nav>